#treasury-dashboard-view {
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  padding-top: 20px;
  -ms-overflow-style: none !important; /* IE and Edge */
  scrollbar-width: none !important; /* Firefox */
  &::-webkit-scrollbar {
    display: none !important;
  }

  .ohm-card {
    max-width: unset !important;
    width: 100%;
    margin: auto;
    .card-header {
      margin-bottom: 1rem;
    }
    &.ohm-chart-card {
      .chart-card-header {
        padding: 0px 20px !important;
        min-width: 300px;
      }
      height: 355px;
    }
  }
  .mystart {
    align-self: flex-start;
  }
  .myend {
    align-self: flex-end;
  }
  .hero-metrics {
    width: 100%;
    margin-bottom: 53px;
    text-align: center;
    .ohm-card {
      max-width: unset !important;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      h5 {
        font-weight: bold;
      }
    }
  }
  .data-grid {
    overflow: hidden;
  }
}

.smaller {
  .ohm-card {
    width: 97% !important;
  }
  .hero-metrics {
    .MuiBox-root { 
      text-align: center !important;
    }
    
    .subtext {
      margin: 0 auto;
    }
  }
}

.very-small {
  .hero-metrics .ohm-card {
    > .MuiBox-root {
      flex-direction: column;
      justify-content: center;
    }
  }
}